<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<base href="../../">
	{{>head}}
</head>
<body>
	{{>global-nav}}
	
	<main>
		{{{body}}}
	</main>
	
	{{>footer}}
	{{>scripts}}
</body>
</html>
